.wrapper{
    margin: auto;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.51);    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(242, 226, 228)
}
nav a{
    display: block;
    text-decoration: none;
    color:aliceblue;
    padding-bottom: 5px;
}
.container{
    background-color: green;
    padding: 5px;
    text-align: center;
}
.logo{
    padding: 10px;
}
.logo img{
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
}
.icons{
    position: absolute;
    top: 40px;
    right: 55px;
}
.back img{
    width: 100%;
    height: 800px;
}
.back{
    position: relative;
    max-width: 100%;
    margin: auto;
}
h1{
    position: absolute;
    top: 85%;
    color: white;
    font-size: large;
}
.btn{
    text-align: center;
}
.order{
    display: inline-block;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color:chocolate;    
    font-size: medium;
    margin-bottom: 4px;
}
.order a{
    text-decoration: none;
    color: azure;
}
.orderme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.orderme img{
    max-width: 50%;
    text-align: center;
}
.orderme p{
    font-size: 80%;
}
h2{
    color:azure;
}
.fdback, .views, .gallery{
    text-align: center;
    color:cornsilk;
    font-size: 80%;
}
.gall img{
    border-radius: 50%;
    max-width: 25%;
    max-height: 100%;
}
.goback{
    text-align: right;
}
.feedback, .goback{
    background-color: rgb(98, 115, 107);
}
.fa-bounce{
    color: rgb(49, 13, 55);
    font-size: 20px;
}
.foot{
    clear: both;
    background-color: green;
    display: flex;
    color: azure;
}
.copy, .info{
    padding: 0.2rem;

}
.foot ul{
    list-style: none;
}
.copy{
    align-self: center;
}
.iconfoot{
    align-self: center;
    text-align: right;
    padding: 20px;
}
.about{
    margin: 5px;
}
.about img{
    float: left;
    width: 20%;
    margin: 3px;
}
.text1{
    clear: right;
    padding: 5px;
}
.text1, .text2{
    font-size: 10px;
}
.mission{
    clear: both;
    margin: 5px;
}
.mission h3{
    margin-top: 50px;
}
.sectn h3{
    margin-left: 10px;
}
.form{
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    font-size: 12px;
}
/*sets the style of the input text width and places them in blocks*/
.small{
    width: 100%;
    padding: 2px 2px;
    margin: 5px 0;
    display: inline-block;
}
/*sets the style of the textarea width and places them in blocks*/
.big{
    width: 100%;
    padding: 20px 2px;
    margin: 5px 0;
    display: block;
    resize: none; /*removes the right of the user to resize the textarea*/
}
.radio label, input{
    display: block;
}
/*sets space on top of button*/
.form button{
    background-color:#ecf1f0;
    margin-top: 5px;
}
.product{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    width: 100%;
    margin: 10px;
}
.product1{
    border: 1px solid #222;
    border-radius: 8px;
    text-align: center;
    max-width: 90%;
}
.product1 button {
    width: 30%;
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    align-items: flex-end;
    align-self: center;
    margin-bottom: 5px;
}  
.product1 img{
    max-width: 80%;
}
@media screen and (min-width: 800px){
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color:rgb(242, 226, 228)
    }
    nav a{
        display: inline;
        text-decoration: none;
        padding: 20px;
        color:aliceblue;
        font-size: large;
    }
    .container{
        background-color: green;
        padding: 14px;
        text-align: center;
        position: relative;
    }
    .logo{
        padding: 20px;
    }
    .logo img{
        position: absolute;
        top: 0;
        left: 0;
        width: 90px;
        height: 90px;
    }
    .icons{
        position: absolute;
        top: 40px;
        right: 20px;
    }
    h1{
        font-size: 35px;
    }
    .order{
        display: inline-block;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color:chocolate;    
        font-size: large;
        margin-bottom: 4px;
    }
    .orderme{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        grid-gap: 3px;
    }
    .orderme img{
        max-width: 80%;
    }
    .orderme p{
        font-size: 15px;
    }
    .feedback{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
    .fdback, .views, .gallery{
        text-align: center;
        color:cornsilk;
        font-size: 15px;
    }
    .gallery{
        align-items: center;
        width: 100%;
        height: 300px;   
    }
    .gall img{
        border-radius: 50%;
        max-width: 17%;
        max-height: 100%;
    }
    .goback{
        text-align: right;
    }
    .feedback, .gallery, .goback{
        background-color: rgb(98, 115, 107);
    }    
    .fa-bounce{
        color: rgb(49, 13, 55);
        font-size: 40px;
    }
    .foot{
        clear: both;
        background-color: green;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        color: azure;
    }
    .copy, .info{
        padding: 0.2rem;
    }
    .product{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 5px;
        width: 100%;
        margin: 10px;
    }
    .product1{
        border: 1px solid #222;
        border-radius: 8px;
        text-align: center;
        max-width: 90%;
        }
    .product1 button {
        width: 50%;
        text-decoration: none;
        background-color: #781BAA;
        color: white;
        padding: 1rem;
        border-radius: 8px;
        align-items: flex-end;
        align-self: center;
        margin-bottom: 5px;
    }  
    .product1 img{
        max-width: 80%;
    }
    .text1, .text2{
        font-size: 15px;
    }
    .form{
        font-size: 17px;
    }
    .radio label, input{
        display: inline;
    }

}







